:root{   /*afecta a TODO el body, inlcuyendo las etiquetas semánticas*/
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Open Sans', sans-serif, Arial;
}

body{  
    background-color: black;
}


h2{
    color:#fac805;
}

h3, p, div > div, table {
    font-size: 1em;
    color: white;
}


section{  
    float:left;
    width:70%;
}

aside{
    float:right;
    width:30%;
}

.trailer{
    position: static;
    right: 100px;   
}

.Poster{                  
    border: 10px solid white;
    transform: scale(45%, 45%);
    position: relative;
    right:100px;
}

.actores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.fotoactores{
    border: 5px solid white;
    transform: scale(90%,90%);
}

.textor {    /*texto del reparto*/
    font-size: 0.9em;
    color: white;
    text-align: center;
}   


