:root{   /*afecta a TODO el body, inlcuyendo las etiquetas semánticas*/
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Open Sans', sans-serif, Arial;
}

body{  
    background-color: black;
}


h2{
    color:#fac805;
}

h3, p, div > div, table {
    font-size: 1em;
    color: white;
}


.Poster {                  
    border: 10px solid white;
    position: relative;
    left: 53%;
    bottom: 610px;
    transform: scale(50%, 50%);
}


article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.fotoactores{
    border: 5px solid white;
    transform: scale(90%,90%);
}

.textor {    /*texto del reparto*/
    font-size: 0.9em;
    color: white;
    text-align: center;
}   /*Cómo lograr que quede el texto en el centro de la caja?*/