.encabezado{
    background-color: black;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.redes{
    height: 90px;
    width: 150px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;    
}

.menu ul{
    padding: 15px;
    list-style: none; /*lista sin estilo*/
    display: grid;
    justify-content: space-evenly;/*centrar*/
}

.complejos p{
    color: white;
    text-align: center;
}

.complejos>li{
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

@media (max-width: 400px) {
    .complejos p{
        font-size: 4vw;
    }
    .complejos iframe{
        width:90vw;
    }
    .complejos>li{
        margin: 0.2vw;
        padding: 0.2vw;
    }
}
  
@media (min-width: 400px) and (max-width: 600px) {
    .complejos p{
        font-size: 3vw;
    }
    .complejos iframe{
        width:92vw;
    }
    .complejos>li{
        margin: 0.4vw;
        padding: 0.4vw;
    }
}
  
@media (min-width: 600px) and (max-width: 800px) {
    .complejos p{
        font-size: 2vw;
    }
    .complejos iframe{
        width:94vw;
    }
    .complejos>li{
        margin: 0.6vw;
        padding: 0.6vw;
    }
}
  
@media (min-width: 800px) {
    .complejos p{
        font-size: 1.5vw;
    }
    .complejos iframe{
        width:94vw;
    }
    .complejos>li{
        margin: 0.8vw;
        padding: 0.8vw;
    }
}

.navbar{
    font-weight: bold;    
    font-size: large;
    background-color: rgb(250, 200 , 5);
}

a:link {
    color: white;
}
small{
    color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

main{
    margin-top: 150px;
}